/* *,
*::after,
*::before {
    box-sizing: inherit
}

* {
    font: inherit
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
         :root {
            --cd-header-height: 300px
        }
    }
} */

.vtWidget {
    --cd-color-1: hsl(206, 21%, 24%);
    --cd-color-1-h: 206;
    --cd-color-1-s: 21%;
    --cd-color-1-l: 24%;
    --cd-color-2: hsl(205, 38%, 89%);
    --cd-color-2-h: 205;
    --cd-color-2-s: 38%;
    --cd-color-2-l: 89%;
    --cd-color-3: hsl(207, 10%, 55%);
    --cd-color-3-h: 207;
    --cd-color-3-s: 10%;
    --cd-color-3-l: 55%;
    --cd-color-4: hsl(111, 51%, 60%);
    --cd-color-4-h: 111;
    --cd-color-4-s: 51%;
    --cd-color-4-l: 60%;
    --cd-color-5: hsl(356, 53%, 49%);
    --cd-color-5-h: 356;
    --cd-color-5-s: 53%;
    --cd-color-5-l: 49%;
    --cd-color-6: hsl(47, 85%, 61%);
    --cd-color-6-h: 47;
    --cd-color-6-s: 85%;
    --cd-color-6-l: 61%;
    --cd-header-height: 200px;
    --font-primary: 'Droid Serif', serif;
    --font-secondary: 'Open Sans', sans-serif;
    --color-white: hsl(0, 0%, 100%);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --font-primary: sans-serif;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs)*var(--text-scale-ratio));
    --text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-lg: calc(var(--text-md)*var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg)*var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));
    --body-line-height: 1.4;
    --heading-line-height: 1.2;
    --font-primary-capital-letter: 1;
    --btn-font-size: 1em;
    --btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);
    --btn-font-size-md: calc(var(--btn-font-size) + 0.2em);
    --btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);
    --btn-radius: 0.25em;
    --btn-padding-x: var(--space-sm);
    --btn-padding-y: var(--space-xs);
    --form-control-padding-x: var(--space-sm);
    --form-control-padding-y: var(--space-xs);
    --form-control-radius: 0.25em;
    --space-unit: 1em;
    --space-xxxxs: calc(0.125*var(--space-unit));
    --space-xxxs: calc(0.25*var(--space-unit));
    --space-xxs: calc(0.375*var(--space-unit));
    --space-xs: calc(0.5*var(--space-unit));
    --space-sm: calc(0.75*var(--space-unit));
    --space-md: calc(1.25*var(--space-unit));
    --space-lg: calc(2*var(--space-unit));
    --space-xl: calc(3.25*var(--space-unit));
    --space-xxl: calc(5.25*var(--space-unit));
    --space-xxxl: calc(8.5*var(--space-unit));
    --space-xxxxl: calc(13.75*var(--space-unit));
    --component-padding: var(--space-md);
    --max-width-xxs: 32rem;
    --max-width-xs: 38rem;
    --max-width-sm: 48rem;
    --max-width-md: 64rem;
    --max-width-lg: 80rem;
    --max-width-xl: 90rem;
    --max-width-xxl: 120rem;
    --radius: 0.25em;
    --radius-sm: calc(var(--radius, 0.25em)/2);
    --radius-md: var(--radius, 0.25em);
    --radius-lg: calc(var(--radius, 0.25em)*2);
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
    --shadow-md: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
    --shadow-lg: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1)
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
         :root {
            --text-base-size: 1.25em;
            --text-scale-ratio: 1.25
        }
    }
}

.vtWidget .text-component {
    --line-height-multiplier: 1;
    --text-vspace-multiplier: 1
}

.vtWidget .text-component blockquote {
    padding-left: 1em;
    border-left: 4px solid hsl(240, 1%, 83%);
    border-left: 4px solid var(--color-contrast-low)
}

.vtWidget .text-component hr {
    background: hsl(240, 1%, 83%);
    background: var(--color-contrast-low);
    height: 1px
}

.vtWidget .text-component figcaption {
    font-size: 0.83333em;
    font-size: var(--text-sm);
    color: hsl(240, 1%, 48%);
    color: var(--color-contrast-medium)
}

.vtWidget .text-component {
    --component-body-line-height: calc(var(--body-line-height)*var(--line-height-multiplier, 1));
    --component-heading-line-height: calc(var(--heading-line-height)*var(--line-height-multiplier, 1))
}

.vtWidget .text-component h1,
.vtWidget .text-component h2,
.vtWidget .text-component h3,
.vtWidget .text-component h4 {
    line-height: 1.2;
    line-height: var(--component-heading-line-height, 1.2);
    margin-bottom: 0.25em;
    margin-bottom: calc(var(--space-xxxs)*var(--text-vspace-multiplier, 1))
}

.vtWidget .text-component h2,
.vtWidget .text-component h3,
.vtWidget .text-component h4 {
    margin-top: 0.75em;
    margin-top: calc(var(--space-sm)*var(--text-vspace-multiplier, 1))
}

.vtWidget .text-component p,
.vtWidget .text-component blockquote,
.vtWidget .text-component ul li,
.vtWidget .text-component ol li {
    line-height: 1.4;
    line-height: var(--component-body-line-height)
}

.vtWidget .text-component ul,
.vtWidget .text-component ol,
.vtWidget .text-component p,
.vtWidget .text-component blockquote,
.vtWidget .text-component .text-component__block {
    margin-bottom: 0.75em;
    margin-bottom: calc(var(--space-sm)*var(--text-vspace-multiplier, 1))
}

.vtWidget .text-component ul,
.vtWidget .text-component ol {
    padding-left: 1em
}

.vtWidget .text-component ul {
    list-style-type: disc
}

.vtWidget .text-component ol {
    list-style-type: decimal
}

.vtWidget .text-component img {
    display: block;
    margin: 0 auto
}

.vtWidget .text-component figcaption {
    text-align: center;
    margin-top: 0.5em;
    margin-top: var(--space-xs)
}

.vtWidget .text-component em {
    font-style: italic
}

.vtWidget .text-component hr {
    margin-top: 2em;
    margin-top: calc(var(--space-lg)*var(--text-vspace-multiplier, 1));
    margin-bottom: 2em;
    margin-bottom: calc(var(--space-lg)*var(--text-vspace-multiplier, 1));
    margin-left: auto;
    margin-right: auto
}

.vtWidget .text-component>*:first-child {
    margin-top: 0
}

.vtWidget .text-component>*:last-child {
    margin-bottom: 0
}

.vtWidget .text-component__block--full-width {
    width: 100vw;
    margin-left: calc(50% - 50vw)
}

@media (min-width: 48rem) {
    .vtWidget .text-component__block--left,
    .vtWidget .text-component__block--right {
        width: 45%
    }
    .vtWidget .text-component__block--left img,
    .vtWidget .text-component__block--right img {
        width: 100%
    }
    .vtWidget .text-component__block--left {
        float: left;
        margin-right: 0.75em;
        margin-right: calc(var(--space-sm)*var(--text-vspace-multiplier, 1))
    }
    .vtWidget .text-component__block--right {
        float: right;
        margin-left: 0.75em;
        margin-left: calc(var(--space-sm)*var(--text-vspace-multiplier, 1))
    }
}

@media (min-width: 90rem) {
    .vtWidget .text-component__block--outset {
        width: calc(100% + 10.5em);
        width: calc(100% + 2*var(--space-xxl))
    }
    .vtWidget .text-component__block--outset img {
        width: 100%
    }
    .vtWidget .text-component__block--outset:not(.text-component__block--right) {
        margin-left: -5.25em;
        margin-left: calc(-1*var(--space-xxl))
    }
    .vtWidget .text-component__block--left,
    .vtWidget .text-component__block--right {
        width: 50%
    }
    .vtWidget .text-component__block--right.text-component__block--outset {
        margin-right: -5.25em;
        margin-right: calc(-1*var(--space-xxl))
    }
}

.vtWidget .cd-main-header {
    height: 200px;
    height: var(--cd-header-height);
    background: hsl(206, 21%, 24%);
    background: var(--cd-color-1);
    color: hsl(0, 0%, 100%);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cd-main-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: var(--font-secondary);
    color: inherit
}

.vtWidget .cd-timeline {
    overflow: hidden;
    padding: 2em 0;
    padding: var(--space-lg) 0;
    color: hsl(207, 10%, 55%);
    color: var(--cd-color-3);
    background-color: hsl(205, 38%, 93.45%);
    background-color: hsl(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*1.05));
    font-family: 'Droid Serif', serif;
    font-family: var(--font-primary)
}

.vtWidget .cd-timeline h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: var(--font-secondary);
    font-weight: 700
}

.vtWidget .cd-timeline__container {
    position: relative;
    padding: 1.25em 0;
    padding: var(--space-md) 0
}

.vtWidget .cd-timeline__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 23%;
    height: 100%;
    width: 2px;
    background: hsl(205, 38%, 89%);
    background: var(--cd-color-2)
}

.vtWidget .cd-timeline__block {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    /* margin-bottom: 2em; */
    margin-bottom: calc(5%);
    margin-top: calc(2%);
}

@media (max-width: 63.99rem) {
    .container .vtWidget .cd-timeline__block {
        width: calc(75%);
        left: calc(16%);
        margin-bottom: calc(7%);
        margin-top: calc(2%)
    }
    .container .vtWidget .cd-timeline__container::before {
        left: 20%
    }
}

@media (max-width: 768px) {
    .container .vtWidget .cd-timeline__block {
        width: calc(75%);
        left: calc(16%);
        margin-bottom: calc(7%);
        margin-top: calc(2%)
    }
    .container .vtWidget .cd-timeline__container::before {
        left: 20%
    }
}

@media (max-width: 576px) {
    .container .vtWidget .cd-timeline__block {
        width: calc(85%);
        left: calc(12.3%);
        margin-bottom: calc(7%);
        margin-top: calc(2%)
    }
    .container .vtWidget .cd-timeline__container::before {
        left: 17%
    }
}

@media (max-width: 450px) {
    .container .vtWidget .cd-timeline__block {
        width: calc(85%);
        left: calc(12.3%);
        margin-bottom: calc(7%);
        margin-top: calc(2%)
    }
    .container .vtWidget .cd-timeline__container::before {
        left: 17%
    }
}

@media (min-width: 64rem) {
    .container .vtWidget .cd-timeline__container::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .container .vtWidget .cd-timeline__block {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        z-index: 1;
        margin-bottom: 2em;
        margin-bottom: calc(5%);
        margin-top: calc(2%);
    }
}

.vtWidget .cd-timeline__block:last-child {
    margin-bottom: 0
}

@media (min-width: 64rem) {
    .vtWidget .cd-timeline__block:nth-child(even) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

.vtWidget .btn {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    font-size: 1em;
    font-size: var(--btn-font-size, 1em);
    padding-top: 0.5em;
    padding-top: var(--btn-padding-y, 0.5em);
    padding-bottom: 0.5em;
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: 0.75em;
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: 0.75em;
    padding-right: var(--btn-padding-x, 0.75em);
    border-radius: 0.25em;
    border-radius: var(--btn-radius, 0.25em)
}

.vtWidget .btn--primary {
    background-color: hsl(220, 90%, 56%);
    background-color: var(--color-primary, #2a6df4);
    color: hsl(0, 0%, 100%);
    color: var(--color-white, #fff)
}

.vtWidget .btn--subtle {
    background-color: hsl(240, 1%, 83%);
    background-color: var(--color-contrast-low, #d3d3d4);
    color: hsl(240, 8%, 12%);
    color: var(--color-contrast-higher, #1c1c21)
}

.vtWidget .btn--accent {
    background-color: hsl(355, 90%, 61%);
    background-color: var(--color-accent, #f54251);
    color: hsl(0, 0%, 100%);
    color: var(--color-white, #fff)
}

.vtWidget .btn--disabled {
    cursor: not-allowed
}

.vtWidget .btn--sm {
    font-size: 0.8em;
    font-size: var(--btn-font-size-sm, 0.8em)
}

.vtWidget .btn--md {
    font-size: 1.2em;
    font-size: var(--btn-font-size-md, 1.2em)
}

.vtWidget .btn--lg {
    font-size: 1.4em;
    font-size: var(--btn-font-size-lg, 1.4em)
}

.vtWidget .btn--icon {
    padding: 0.5em;
    padding: var(--btn-padding-y, 0.5em)
}

.vtWidget .btn {
    --color-shadow: hsla(240, 8%, 12%, 0.15);
    --color-shadow: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);
    box-shadow: 0 4px 16px hsla(240, 8%, 12%, 0.15);
    box-shadow: 0 4px 16px hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);
    cursor: pointer
}

.vtWidget .btn--primary {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.vtWidget .btn--accent {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.vtWidget .btn--disabled {
    opacity: 0.6
}

.vtWidget .cd-timeline__img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 5px;
    /* Modified */
    height: 5px;
    /* Modified */
    margin-left: calc(5%);
    /* Modified */
    border-radius: 80%;
    box-shadow: 0 0 0 4px hsl(0, 0%, 100%), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px var(--color-white), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
}

.vtWidget .cd-timeline__img img {
    width: 24px;
    height: 24px
}

@media (min-width: 64rem) {
    .vtWidget .cd-timeline__img {
        width: 10px;
        height: 10px;
        -ms-flex-order: 1;
        order: 1;
        margin-left: calc(5% - 5px);
        margin-top: calc(5% - 22px);
        will-change: transform
    }
    .vtWidget .cd-timeline__block:nth-child(even) .cd-timeline__img {
        margin-right: calc(5% - 5px)
    }
}

.vtWidget .cd-timeline__img--picture {
    background-color: hsl(111, 51%, 60%);
    background-color: var(--cd-color-4);
    background-color: #ccc
}

.vtWidget .cd-timeline__img--movie {
    background-color: hsl(356, 53%, 49%);
    background-color: var(--cd-color-5);
    background-color: #ccc
}

.vtWidget .cd-timeline__img--location {
    background-color: hsl(47, 85%, 61%);
    background-color: var(--cd-color-6);
    background-color: #ccc
}

.vtWidget .cd-timeline__content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    margin-top: -5%;
    /* Modified */
    margin-left: 1.25em;
    margin-left: var(--space-md);
    background: hsl(0, 0%, 100%);
    background: var(--color-white);
    border-radius: 0.75em;
    /*border-radius: var(--radius-md);*/
    padding: 1.25em;
    padding: var(--space-md);
    box-shadow: 0 3px 0 hsl(205, 38%, 89%);
    box-shadow: 0 3px 0 var(--cd-color-2)
}

.vtWidget .cd-timeline__content::before {
    content: '';
    position: absolute;
    top: calc(5%);
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: hsl(0, 0%, 100%);
    border-right-color: var(--color-white)
}

.vtWidget .cd-timeline__content h2 {
    color: hsl(206, 21%, 24%);
    color: var(--cd-color-1)
}

.vtWidget .cd-timeline__date {
    /*color: hsla(207, 10%, 55%, 0.7); 
    color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.7); */
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    font-size: 15px;
}

@media (min-width: 64rem) {
    .vtWidget .cd-timeline__content {
        width: 45%;
        -ms-flex-positive: 0;
        flex-grow: 0;
        will-change: transform;
        margin: 0;
        font-size: 0.8em;
        --line-height-multiplier: 1.2
    }
    /*    .container .vtWidget .cd-timeline__content::before {
        top: calc(5% + 25px);
    }*/
    .vtWidget .cd-timeline__block:nth-child(odd) .cd-timeline__content::before {
        right: auto;
        left: 100%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: hsl(0, 0%, 100%);
        border-left-color: var(--color-white)
    }
}

@media (min-width: 200px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(6%);
    }
    .vtWidget .cd-timeline__date {
        left: -42%;
        top: -5%;
    }
}

@media (min-width: 350px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(6%);
    }
    .vtWidget .cd-timeline__date {
        left: -38%;
        top: -5%;
    }
}

@media (min-width: 380px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(10%);
    }
    .vtWidget .cd-timeline__date {
        left: -35%;
        top: -5%;
    }
}

@media (min-width: 430px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(13%);
    }
    .vtWidget .cd-timeline__date {
        left: -30%;
        top: -5%;
    }
}

@media (min-width: 470px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(14%);
    }
    .vtWidget .cd-timeline__date {
        left: -28%;
        top: -5%;
    }
}

@media (min-width: 576px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(14%);
    }
    .vtWidget .cd-timeline__date {
        left: -30%;
        top: 0%;
    }
}

@media (min-width: 768px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(20%);
    }
    .vtWidget .cd-timeline__date {
        left: -22%;
        top: 0px;
    }
}

@media (min-width: 992px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(26%);
    }
    .vtWidget .cd-timeline__date {
        left: -16%;
        top: 0px;
    }
}

@media (min-width: 64rem) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(20%);
    }
    .vtWidget .cd-timeline__date {
        width: 100%;
        left: 120%;
        top: 0px;
    }
    .vtWidget .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 120%;
        text-align: right
    }
}

@media (min-width: 1200px) {
    .container .vtWidget .cd-timeline__content::before {
        top: calc(5% + 25px);
    }
}


/* @media (min-width: 64rem) {
    .vtWidget .cd-timeline__date {
        width: 100%;
        left: 120%;
        top: 0px;
    }
    .vtWidget .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 120%;
        text-align: right
    }
} */


/* @media (max-width: 63.99rem) {
    .vtWidget .cd-timeline__date {
        left: -20%;
        top: 5%;
    }
}*/

@media (min-width: 64rem) {
    .vtWidget .cd-timeline__img--hidden,
    .vtWidget .cd-timeline__content--hidden {
        visibility: hidden
    }
    .vtWidget .cd-timeline__img--bounce-in {
        -webkit-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s
    }
    .vtWidget .cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s
    }
    .vtWidget .cd-timeline__block:nth-child(even) .cd-timeline__content--bounce-in {
        -webkit-animation-name: cd-bounce-2-inverse;
        animation-name: cd-bounce-2-inverse
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}